.eventful-small {
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
}

body {
  background-color: #ddd;
}

.footer {
  position: fixed;
  bottom: 0;
  right:0;
  height: 5%;
  text-align: right;
}

.header {
  position: fixed;
  width: 107%;
  background-color: #673AB7;
  height: 10%;
  top: 0;
  z-index: 1;
  /*box-shadow: 3px 3px 3px #673AB7;*/
}
.header h1 {
  position: absolute;
  color: white;
  font-family: impact;
  top: -20%;
  height:7%;
  margin-left: 2%;
}

.search, .signUp {
  position: absolute;
  width: 50%;
  height: 70vh;
  top: 10%;
  text-align: center;
}

.signUp {
  left: 50%;
}
.imgContainer {
  position: absolute;
  width: 70%;
  height: 40vh;
  top: 20%;
  left: 20%;
  border: 5px solid white;
  /*background-image: url('http://i.imgur.com/hMOXz6T.jpg');*/
  background-image: url('http://i.imgur.com/mdTuH3I.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.search form {
  position: absolute;
  top: 80%;
  left: 20%;
}

.signUp form {
  position: absolute;
  top: 20%;
  left: 30%;
}



.search input[type=text], .signUp input[type=text], .signUp input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /*box-shadow: 3px 3px 3px #673AB7;*/
}

.searchDetail {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100vh;
  top: 10%;
  background-color: #ddd;
}

.searchDetail form {
  position: absolute;
  top: 15%;
  left: 2%;
  margin-bottom: 2%;
}

.searchDetail input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.searchDetail input[type=select] {
  margin-bottom: 2%;
}

.eventResults, .selectedEvent {
  /*position: fixed;
  overflow-y: scroll;*/
  text-align: center;
  background-color:white;
  display: inline-block;
  padding-top: 7%;
  /*padding-left: 5%;*/
  width: 75%;
}

.selectedEvent{
  min-height: 100vh;
}

.eventImage {
  width: 18vw;
  vertical-align: top;
  margin-top: -21%;
}
.nullEventImage {
  width: 20vw;
  vertical-align: top;
}

.imageContainer {
  height: 20vh;
  width: 18vw;
  border: 2px solid black;
  overflow: hidden;
}
.selectImageContainer {
  height: 20vh;
  width: 18vw;
  margin-left: 37%;
  /*border: 2px solid black;*/
  overflow: hidden;
}

.infoContainer {
  display: inline-block;
  text-align: left;
  margin-left: 4%;
  margin-bottom: 5%;
  height: 30vh;
  width: 18vw;
  vertical-align: top;
  background-color: #673AB7;
  color: #ffffff;
}

.infoContainer h5, .infoContainer h6 {
  padding-left: 2%;
}
.sideContainer {
 height: 10vh;
 width: 24vw;
 border: 1px solid black;
 display: inline-block;
 overflow: hidden;
}
.sideContainer p {
  display: inline;
  margin: 0 5% 0 5%;
  font-weight: bold;
  padding-left: 2%;
}
.sideEventImage {
  width:10vw;
  margin-top: -10%;
  display: inline-block;
}
.nullSideEventImage {
  width:10vw;
  display: inline-block;
}

.signIn {
  position: absolute;
  top: 5%;
  right: 10%;
}
.signIn label {
  color: #ffffff;
}

button {
  background-color: white;
}
table {
  border: none;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 5vh;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 5vh;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 5vh;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  /*border: 1px solid #D1D1D1;*/
  border-radius: 4px;
  box-shadow: none;
  /*box-sizing: border-box; */
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

