.eventful-small {
  position: relative    !important;
  width: 100px          !important;
  font-size: 11px       !important;
  line-height: 11px     !important;
}

body {
  background-color: #ccc;
}

.footer {
  position: fixed;
  bottom: 0;
  right:0;
  height: 5%;
  text-align: right;
}

.header {
  position: fixed;
  width: 107%;
  background-color: #777;
  height: 10%;
  top: 0;
  z-index: 1;
  /*box-shadow: 3px 3px 3px #777;*/
}
.header h1 {
  position: absolute;
  color: white;
  font-family: impact;
  top: -20%;
  height:7%;
  margin-left: 2%;
}

.search {
  position: absolute;
  width: 107%;
  height: 70vh;
  top: 10%;
  /*background-image: url('http://i.imgur.com/hMOXz6T.jpg');*/
  background-image: url('http://i.imgur.com/mdTuH3I.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.search form {
  position: absolute;
  top: 40%;
  left: 27%;
}

.search input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /*box-shadow: 3px 3px 3px #777;*/
}

.searchDetail {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: 100vh;
  top: 10%;
  background-color: #ccc;
}

.searchDetail form {
  position: absolute;
  top: 15%;
  left: 2%;
  margin-bottom: 2%;
}

.searchDetail input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.searchDetail input[type=select] {
  margin-bottom: 2%;
}

.eventResults, .selectedEvent {
  text-align: center;
  background-color:white;
  display: inline-block;
  padding-top: 7%;
  /*padding-left: 5%;*/
  width: 75%;
}

.selectedEvent{
  min-height: 100vh;
}

.eventImage {
  width: 18vw;
  vertical-align: top;
  margin-top: -21%;
}
.nullEventImage {
  width: 18vw;
  vertical-align: top;
}

.imageContainer {
  height: 20vh;
  width: 18vw;
  border: 2px solid black;
  overflow: hidden;
}
.selectImageContainer {
  height: 20vh;
  width: 18vw;
  margin-left: 37%;
  /*border: 2px solid black;*/
  overflow: hidden;
}

.infoContainer {
  display: inline-block;
  text-align: left;
  margin-left: 4%;
  margin-bottom: 5%;
  height: 30vh;
  width: 18vw;
  vertical-align: top;
  background-color: #888;
  color: #ffffff;
}

.infoContainer h5, .infoContainer h6 {
  padding-left: 2%;
}
.sideContainer {
 height: 10vh;
 width: 24vw;
 border: 1px solid black;
 display: inline-block;
 overflow: hidden;
}
.sideContainer p {
  display: inline;
  margin: 0 5% 0 5%;
  font-weight: bold;
  padding-left: 2%;
}
.sideEventImage {
  width:10vw;
  margin-top: -10%;
  display: inline-block;
}
.nullSideEventImage {
  width:10vw;
  display: inline-block;
}

/*Button temlpate taken from http://www.bestcssbuttongenerator.com/#/25*/
.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #CFD8DC;
  -webkit-box-shadow:inset 0px 1px 0px 0px #CFD8DC;
  box-shadow:inset 0px 1px 0px 0px #CFD8DC;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #607D8B), color-stop(1, #CFD8DC));
  background:-moz-linear-gradient(top, #607D8B 5%, #CFD8DC 100%);
  background:-webkit-linear-gradient(top, #607D8B 5%, #CFD8DC 100%);
  background:-o-linear-gradient(top, #607D8B 5%, #CFD8DC 100%);
  background:-ms-linear-gradient(top, #607D8B 5%, #CFD8DC 100%);
  background:linear-gradient(to bottom, #607D8B 5%, #CFD8DC 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#607D8B', endColorstr='#CFD8DC',GradientType=0);
  background-color:#607D8B;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #3866a3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #7cacde;
  margin-left: 1%;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CFD8DC), color-stop(1, #607D8B));
  background:-moz-linear-gradient(top, #CFD8DC 5%, #607D8B 100%);
  background:-webkit-linear-gradient(top, #CFD8DC 5%, #607D8B 100%);
  background:-o-linear-gradient(top, #CFD8DC 5%, #607D8B 100%);
  background:-ms-linear-gradient(top, #CFD8DC 5%, #607D8B 100%);
  background:linear-gradient(to bottom, #CFD8DC 5%, #607D8B 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFD8DC', endColorstr='#607D8B',GradientType=0);
  background-color:#CFD8DC;
}
.myButton:active {
  position:relative;
  top:1px;
}
